@model EDS.tblSchool

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblSchool</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAddress.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAddress.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDistrict.DistrictDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDistrict.DistrictDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchoolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
