@model EDS.Models.WeightingViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:10px">
    <div class="row">
        <div class="col-md-12">
            <table class="table-condensed">
                <tr>
                    <td>
                        <button id="btnBack" class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back
                        </button>
                    </td>
                    <td>
                        <h2>Add Weighting</h2>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr />

@using (Html.BeginForm("Create", "Weighting", FormMethod.Post, new { id = "formWeighting" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div>
            @if (ViewBag.UserMessage != null)
            {
                <div style="margin-top: 8px; color: #ED7476;">@Html.Raw(ViewBag.UserMessage)</div>
            }
        </div>

        <table class="table-condensed">
            <tr>
                <td>
                    <table class="table-condensed">
                        <tr>
                            <td nowrap="">
                                <b>District</b>
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.DistrictId, new SelectList(Model.Districts, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DistrictId)
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="">
                                <b>School Year</b>
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.SchoolYearId, new SelectList(Model.SchoolYears, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.SchoolYearId)
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="">
                                <b>Assessment Type</b>
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.AssessmentTypeId, new SelectList(Model.AssessmentTypes, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.AssessmentTypeId)
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="">
                                <b>Subject</b>
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.SubjectId, new SelectList(Model.Subjects, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.SubjectId)
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="">
                                <b>@Html.LabelFor(m => m.Grade)</b>
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Grade, new { @class = "reqClass form-control" })
                                @Html.ValidationMessageFor(model => model.Grade)
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="">
                                <b>@Html.LabelFor(m => m.Weighting)</b>
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Weighting, new { @class = "reqClass form-control" })
                                @Html.ValidationMessageFor(model => model.Weighting)
                            </td>
                        </tr>

                    </table>
                </td>
                <td style="border-left:solid 1px #d9d9d9">&nbsp;</td>
               
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <button id="btnAddUser" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;Add Weighting
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#btnBack").click(function () {
                window.location.href = "/Weighting/Index";
            });

        });

    </script>
}