@model EDS.tblClass

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSchool.cshtml";
}

<h2 style="float:right">Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="float:left;width:100%">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SchoolId, "School", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SchoolId", String.Empty)
                @Html.ValidationMessageFor(model => model.SchoolId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassDesc, "Class Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassDesc)
                @Html.ValidationMessageFor(model => model.ClassDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SchoolYearId, "School Year", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SchoolYearId", String.Empty)
                @Html.ValidationMessageFor(model => model.SchoolYearId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectId, "Subject", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjectId", String.Empty)
                @Html.ValidationMessageFor(model => model.SubjectId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, "Grade", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grade)
                @Html.ValidationMessageFor(model => model.Grade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDatetime, "Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDatetime)
                @Html.ValidationMessageFor(model => model.CreateDatetime)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ChangeDatetime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChangeDatetime)
                    @Html.ValidationMessageFor(model => model.ChangeDatetime)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


